{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>

<head>
    <title>Login - BeRealMotors Spare Parts Company</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-5.2.3-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>

<body style="background-color:black;">
    <!-- <div class="julie"> -->
    <nav class="navbar navbar-expand-lg " data-bs-theme="dark">
        <div class="container-fluid">
            <!-- Logo or Brand -->
            <a class="navbar-brand" href="#"><img src="{% static 'images/spareparts.avif'%}" alt="logo"
                    width="80" /></a>
            <!-- ... -->
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'index' %}" style="color: red;">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services' %}" style="color: red;">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contactus' %}" style="color: red;">Contact us</a>
                    </li>
                    <!-- Add more navigation links here -->
                </ul>

                <!-- Put item to the right corner -->
                <!-- <div class="ml-auto"> -->
                    <!-- Add your item here -->
                    <!-- <button class="demi">
                        <a class="nav-link" href="/login" style="color: white;">Login</a>
                    </button> -->
                </div>
            </div>
        </div>
    </nav>
    <!-- end of nav -->

    <h1 style="margin-left: 440px;padding-bottom: 40px; color:white; " >Please Login From Here!!</h1>
    <br>

    {% block content %}
    <form id="form" method="POST"
        style="border-radius: 25px; border: 2px solid white; padding: 20px; width: 400px; height: 350px; margin-left: 450px;">

        {% csrf_token %}
        {{form | crispy}}
<br>
        <input type="submit" name="Submit" class="btn   btn-danger btn-block submit"> <br>
    </form>

    {% endblock %}


    <!-- </div> -->

    <strong>
        <div class="footer">
            <div class="social-icons">
                <a href="https://www.facebook.com/your-page" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/your-handle" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/your-account/" target="_blank"><i
                        class="fab fa-instagram"></i></a>
            </div>
            <footer class=" mb-5 p-5 text-center" style="color: white;">
                <p>&copy; 2023 BeRealMotors Spare Parts Company. All rights reserved.</p>
            </footer>
        </div>
    </strong>



</body>
<script scr="{% static 'css/bootstrap-5.2.3-dist/js/bootstrap.min.js' %}"></script>

</html>